<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <title>{{ page_title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h1>Congratulations!</h1>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

  </body>
</html>
