<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <title>{{ page_title }}</title>
  </head>
  <body>

    <div class="content">
      <div class="container">
        <form action="/question/{{ (question_id+1) }}" method="POST">
          {% if warning %}

          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger">
                Wrong answer
              </div>
            </div>
          </div>

          {% endif %}

          <div class="row">
            <div class="col-md-12">
              <div class="question">
                {{ sentence }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer1" name="answer" value="{{ synonym[word] }}">
                <label for="answer1">{{ synonym[word] }}</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer2" name="answer" value="{{ correct_word }}">
                <label for="answer2">{{ correct_word }}</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer3" name="answer" value="{{ word }}">
                <label for="answer3">{{ word }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="answer">
                <input type="submit" name="submit" value="Cevapla">
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </form>

      </div>
    </div>

  </body>
</html>
