<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.4.0.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <title>{{ page_title }}</title>
  </head>
  <body>

    <div class="content">
      <div class="container">
        <form action="/" method="POST">
          <div class="row">
            <div class="col-md-12">
              <div class="question">
                {{ sentence }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer1" name="answer" value="answer1">
                <label for="answer1">{{ correct_word }}</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer2" name="answer" value="answer2">
                <label for="answer2">{{ correct_word }}</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="answer">
                <input type="radio" id="answer3" name="answer" value="answer3">
                <label for="answer3">{{ correct_word }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="answer">
                <input type="submit" name="submit" value="Cevapla">
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </form>

      </div>
    </div>

  </body>
</html>
